body {
  font-family: DINFamily;
  color: #333;
}

#entry-point {
  padding: 15px;
}

label {
  font-family: DINFamilyBold;
  color: #696A6C;
}

.vehicle-full-name, #search-button, th {
  font-family: DINFamilyBold;
}

h1 {
  color: white;
  background-color: #53575a;
  font-family: "din-condensed";
  margin: 0;
  padding: 10px;
  padding-bottom: 3px;
}

h1 small {
  color: #B3B3B3;
}

.flash-message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

th {
  background-color: #E4E4E4;
  color: #878B8E;
}

td.location {
  max-width: 125px;
}

.location-address {
  color: rgb(79, 166, 0);
}

.vehicle-full-name a {
  color: #F58025;
}

#search-button {
  background-color: #F58025;
  border-color: #F58025;
  width: 100%;
}

.tooltip {
  white-space: pre-wrap;
  text-align: left;
}